head
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  link(rel='stylesheet', href='../../stylesheets/login.css')
  meta(name='google-site-verification' content='pxOa2Qv7Wq0cQ78SbERxoOVDxJ-XbKHZL8rvLmki3xs')

body#LoginForm
  .container
    .login-form
      .main-div
        .panel
          if info && info.message 
            div.alert.alert-danger
              = info.message
          h2 Admin Login
          p Por favor, ingrese su correo and contraseña
        form#Login(action='/auth/login' method='post')
          .form-group
            input#username.form-control(type='email' placeholder='Email Address' name="username")
          .form-group
            input#password.form-control(type='password' placeholder='Password' name="password")
          .forgot
            a(href='/auth/forgotPassword') Olvidé mi contraseña
          button.btn.btn-primary(type='submit') Login
          .social-login
            p.fsQnaL-hr O bien
            .row.mb-3
              .col-md-12
                a.btn.btn-lg.btn-google.btn-block.btn-outline(href='/auth/google')
                  img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png')
                  span Inicia con Google
            .row.mb-3
              .col-md-12
                a.btn.btn-lg.btn-facebook.btn-block.btn-outline(href='/auth/facebook')
                  i.fa.fa-facebook-square
                  span Inicia con Facebook

