doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description' content='')
		meta(name='author' content='')
		link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
		title= title
		// Font Awesome icons (free version)
		script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
		// Google fonts
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')
		link(href='/fonts/family_KaushanScript-Regular.css' rel='stylesheet' type='text/css')
		link(href='/fonts/glyphicons-only-bootstrap.min.css' rel='stylesheet' type='text/css')
		link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
		// Core theme CSS (includes Bootstrap)
		link(href='/stylesheets/styles_template.css' rel='stylesheet')
		link(href='/stylesheets/style.css' rel='stylesheet')
	body#page-top
		block content
