@font-face {
    font-family: 'KaushanScript-Regular';
    src:url('KaushanScript-Regular/KaushanScript-Regular.ttf.woff') format('woff'),
        url('KaushanScript-Regular/KaushanScript-Regular.ttf.svg#KaushanScript-Regular') format('svg'),
        url('KaushanScript-Regular/KaushanScript-Regular.ttf.eot'),
        url('KaushanScript-Regular/KaushanScript-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}