extends ../layout

block content  
  section.page-section
    .container
      a.btn.btn-secondary.text-uppercase(href='/usuarios') Volver
      .text-center
        h2.section-heading.text-uppercase Nuevo Usuario
      form(action='/usuarios/create' method='post')
        .form-group
          label(for='nombre') Nombre:
          input#nombre.form-control(type='text' name='nombre' value=usuario.nombre placeholder='Ingrese nombre' aria-describedby="nombreHelp" aria-required="true")
          if errors.nombre
              small#nombreHelp.text-danger
                = errors.nombre.message
        .form-group
          label(for='email') Email:
          input#email.form-control(type='text' name='email' value=usuario.email placeholder='Ingrese correo' aria-describedby="emailHelp" aria-required="true")
          if errors.email
              small#emailHelp.text-danger
                = errors.email.message
        .form-group
          label(for='password') Contraseña:
          input#password.form-control(type='password' name='password' placeholder='Ingrese contraseña' aria-describedby="passwordHelp" aria-required="true")
          if errors.password
              small#passwordHelp.text-danger
                = errors.password.message
        .form-group
          label(for='confirm_password') Confirmar Contraseña:
          input#confirm_password.form-control(type='password' name='confirm_password' placeholder='Repita la contraseña' aria-describedby="confirm_passwordHelp" aria-required="true")
          if errors.confirm_password
              small#confirm_passwordHelp.text-danger
                = errors.confirm_password.message
        .text-center
          input.btn.btn-primary(type='submit' value='Ingresar')

//- extends ../layout 

//- block content
//-     a(href='/') Volver


//-     br
//-     br
//-     br

//-     h1 Nuevo usuario

//-     br
//-     br

//-     form(action='/usuarios/create' method='post')
//-         //-----------------------------------------
//-         label(for='nombre') Nombre:
//-         input#id(type='text' name='nombre' value= (data && data.nombre) ? data.nombre : '' ) 

//-         font(style="color:red; font-size:15px;")

//-             if errors.complete_obligatorio.confirm
//-                 | * required //

//-             if errors.nombre.confirm
//-                 small.text-danger
//-                 = " " + errors.nombre.message
//-         br
//-         //------------------------------------------
//-         label(for='email') Email:
//-         input#color(type='text' name='email' value= (data && data.email) ? data.email : '')
        
//-         font(style="color:red; font-size:15px;")

//-             if errors.complete_obligatorio.confirm
//-                 | * required //

//-             if errors.email.confirm
//-                 small.text-danger
//-                 = " " + errors.email.message

//-         br
//-         //------------------------------------------
//-         label(for='password') Password:
//-         input#modelo(type='text' name='password')

//-         font(style="color:red; font-size:15px;")

//-             if errors.complete_obligatorio.confirm
//-                 | * required //

//-             if errors.password.confirm
//-                 small.text-danger
//-                 = " " + errors.password.message

//-         br
//-         //------------------------------------------
//-         label(for='confirm_password') Confirmar password:
//-         input#modelo(type='text' name='confirm_password')

//-         font(style="color:red; font-size:15px;")

//-             if errors.complete_obligatorio.confirm
//-                 | * required //

//-             if errors.password.confirm
//-                 small.text-danger
//-                 = " " + errors.password.message

//-         br
//-         //------------------------------------------
//-         br
//-         input.btn(type='submit' value='OK')