extends ../layout

block content
	section.page-section
		.container
			a.btn.btn-secondary.text-uppercase(href='/usuarios/create') Nueva Usuario
			.text-center
				h2.section-heading.text-uppercase Listado de Usuarios
			table.table.table-bordered
				thead.thead-dark
					tr
						th(scope='col') #
						th(scope='col') Nombre
						th(scope='col') Email
						th(scope='col') Verificado
						th(scope='col')
				tbody
					each usuario in usuarios
						tr
							td(scope='row')
								= usuario._id
							td= usuario.nombre
							td= usuario.email
							td= usuario.verificado ? "SI" : "NO"
							td.tb-buttons
								a.btn.btn-dark(href="/usuarios/update/" + usuario._id) Editar
								form(method='post' action='/usuarios/delete/' + usuario._id)
									button.btn.btn-danger(type='submit') Eliminar