extends ../layout

block content  
  section.page-section
    .container
      a.btn.btn-secondary.text-uppercase(href='/usuarios') Volver
      .text-center
        h2.section-heading.text-uppercase Actualizar Usuario
      form(action=`/usuarios/update/${usuario._id}` method='post')
        .form-group
          label(for='nombre') Nombre:
          input#nombre.form-control(type='text' name='nombre' value=usuario.nombre placeholder='Ingrese nombre' aria-describedby="nombreHelp" aria-required="true")
          if errors.nombre
              small#nombreHelp.text-danger
                = errors.nombre.message
        .form-group
          label(for='email') Email:
          input#email.form-control(type='text' name='email' value=usuario.email placeholder='Ingrese correo' aria-describedby="emailHelp" aria-required="true")
          if errors.email
              small#emailHelp.text-danger
                = errors.email.message
        .form-group
          label(for='actual_password') Contraseña Actual:
          input#actual_password.form-control(type='password' name='actual_password' placeholder='Ingrese contraseña actual' aria-describedby="actual_passwordHelp" aria-required="true")
          if errors.actual_password
              small#actual_passwordHelp.text-danger
                = errors.actual_password.message
        .form-group
          label(for='new_password') Contraseña Nueva:
          input#new_password.form-control(type='password' name='new_password' placeholder='Ingrese contraseña nueva' aria-describedby="new_passwordHelp" aria-required="true")
          if errors.new_password
              small#new_passwordHelp.text-danger
                = errors.new_password.message
        .form-group
          label(for='confirm_new_password') Confirmar Contraseña Nueva:
          input#confirm_new_password.form-control(type='password' name='confirm_new_password' placeholder='Repita la contraseña nueva' aria-describedby="confirm_new_passwordHelp" aria-required="true")
          if errors.confirm_new_password
              small#confirm_new_passwordHelp.text-danger
                = errors.confirm_new_password.message
        .text-center
          input.btn.btn-primary(type='submit' value='Actualizar')