#main_map { 
  height: 600px; 
}

td.tb-buttons a {
	margin-right: 1rem;
}

td.tb-buttons form {
	display: inline-block;
	width: fit-content;
}

#box-session {
	border: 0;
	width: 100%;
	height: 100%;
	box-shadow: none;
}

#box-session .dropdown a#bar-user span, 
#box-session .dropdown a#bar-user strong {
	padding: 0px 3px;
}
.navbar-login {
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}