extends ../layout

block content  
  section.page-section
    .container
      a.btn.btn-secondary.text-uppercase(href='/bicicletas') Volver
      .text-center
        h2.section-heading.text-uppercase Nueva Bicicleta
      form(action='/bicicletas/create' method='post')
        .form-group
          label(for='code') Codigo
          input#code.form-control(type='number' name='code')
        .form-group
          label(for='color') Color
          input#color.form-control(type='text' name='color' placeholder='Ingrese color')
        .form-group
          label(for='modelo') Modelo
          input#modelo.form-control(type='text' name='modelo' placeholder='Ingrese modelo')
        .form-group
          label(for='lat') Latitud
          input#lat.form-control(type='text' name='lat' placeholder='Ingrese latitud')
        .form-group
          label(for='lng') Longitud
          input#lng.form-control(type='text' name='lng' placeholder='Ingrese longitud')
        .text-center
          input.btn.btn-primary(type='submit' value='Ingresar')
