extends ../layout

block content
	section.page-section
		.container
			a.btn.btn-secondary.text-uppercase(href='/bicicletas/create') Nueva Bicicleta
			.text-center
				h2.section-heading.text-uppercase Listado de Bicicletas
			table.table.table-bordered
				thead.thead-dark
					tr
						th(scope='col') #
						th(scope='col') Color
						th(scope='col') Modelo
						th(scope='col') Ubicación
						th(scope='col')
				tbody
					each bi in bicis
						tr
							td(scope='row')
								= bi.code
							td= bi.color
							td= bi.modelo
							td= bi.ubicacion
							td.tb-buttons
								a.btn.btn-success(href="/bicicletas/watch/" + bi.code) Ver
								a.btn.btn-dark(href="/bicicletas/update/" + bi.code) Editar
								a.btn.btn-danger(href="/bicicletas/delete/" + bi.code) Eliminar
