extends ../layout

block content  
  section.page-section
    .container
      a.btn.btn-secondary.text-uppercase(href='/bicicletas') Volver
      .text-center
        h2.section-heading.text-uppercase Bicicleta
      form
        .form-group
          label(for='code') Codigo
          input#code.form-control(type='number' name='id' value=bici.code disabled)
        .form-group
          label(for='color') Color
          input#color.form-control(type='text' name='color' value=bici.color placeholder='Ingrese color' disabled)
        .form-group
          label(for='modelo') Modelo
          input#modelo.form-control(type='text' name='modelo' value=bici.modelo placeholder='Ingrese modelo' disabled)
        .form-group
          label(for='lat') Latitud
          input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0] placeholder='Ingrese latitud' disabled)
        .form-group
          label(for='lng') Longitud
          input#lng.form-control(type='text' name='lng' value=bici.ubicacion[1] placeholder='Ingrese longitud' disabled)
        .text-center

